
.cont-nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0.5rem auto;
  align-items: center;
  background-color: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}

.navbar-title,
.navbar-link {
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1.4rem;
  color: #000;
}

.navbar-title {
  font-size: 2rem;
  font-weight: bolder;
  text-decoration: none;
  color: #0290ff;
}

.navbar-list {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar-option {
  margin: 0.5rem;
  padding-right: 0.5rem;
}

.navbar-link {
  text-decoration: none;
}

.navbar-list > *:not(:last-child) {
  border-right: 2px solid #fff;
}

.logo-cont {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #0290ff;
}

.color-logo {
  color: #0290ff;
}
